
<table mat-table [dataSource]="this.service.getShoppingCartList() | async" >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let videoGame"> {{videoGame.name}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let videoGame"> {{videoGame.price | currency:'EUR':'symbol':'0.2':'fr'}} </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let videoGame"><button (click)="this.service.removeShoppingCart(videoGame)" class="button-delete">Delete</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

<button routerLink="/list">Back to video game list</button>