<mat-card class="example-card card borderCard mb-3 text-center">
  <mat-card-header class="justify-content-center">
      <mat-card-title>
          <h4>{{videoGame.name}}</h4>
      </mat-card-title>
      <mat-card-subtitle><li>{{videoGame.type}}</li></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
      <h4>{{videoGame.price}}€</h4>
      <p>{{videoGame.description}}</p>
  </mat-card-content>
</mat-card>

<button (click)="panier()">Add to shopping cart</button>
<button (click)="removePanier()">Remove to shopping cart</button>